@model Information_System_MVC.Models.Worker
@{
    ViewBag.Title = "Работники";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3>Работники -> Удаление записи</h3>
    <fieldset>
        <p>Логин</p>
        <input id="Id" name="Id" value="@Model.Id" />
        @Html.ValidationMessageFor(model => model.Name)
        <p>Пароль</p>
        <input id="Password" name="Password" value="@Model.Password" readonly />
        @Html.ValidationMessageFor(model => model.Password)
        <p>Имя</p>
        <input id="Name" name="Name" value="@Model.Name" readonly />
        @Html.ValidationMessageFor(model => model.Name)
        <p>Фамилия</p>
        <input id="Surname" name="Surname" value="@Model.Surname" readonly />
        @Html.ValidationMessageFor(model => model.Surname)
        <p>Отчество</p>
        <input id="Thirdname" name="Thirdname" value="@Model.Thirdname" readonly />
        @Html.ValidationMessageFor(model => model.Thirdname)
        <p>Дата рождения</p>
        <input id="DateOfBirth" name="DateOfBirth" value="@Model.DateOfBirth" readonly />
        @Html.ValidationMessageFor(model => model.DateOfBirth)
        <p>Эл. почта</p>
        <input id="Email" name="Email" value="@Model.Email" readonly />
        @Html.ValidationMessageFor(model => model.Email)
        <p>Рабочие дни</p>
        <input id="WorkDays" name="WorkDays" value="@Model.WorkDays" readonly />
        @Html.ValidationMessageFor(model => model.WorkDays)
        <p>Профессия [Права]</p>
        @{
            foreach (var item in ViewBag.PassingValue[0])
            {
                if (item.Id == Model.ProfessionId)
                {
                    <input id="ProfessionId" name="ProfessionId" value="@item.Name [@item.Power]" readonly />
                }
            }
        }
        @Html.ValidationMessageFor(model => model.ProfessionId)
        <p>Код рабочего места</p>
        <input id="WorkPlaceId" name="WorkPlaceId" value="@Model.WorkPlaceId" readonly />
        @Html.ValidationMessageFor(model => model.WorkPlaceId)
        <br /><br />
        @using (Html.BeginForm())
        {
            <input type="submit" value="Удалить" />
        }
    </fieldset>
</div>