@model Information_System_MVC.Models.Worker
@{
    ViewBag.Title = "Работники";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3>Работники -> Редактирование записи</h3>
    <fieldset>
        @using (Html.BeginForm("Edit", "Worker", FormMethod.Post))
        {
            <p>Логин</p>
            <input id="Id" name="Id" value="@Model.Id" readonly />
            @Html.ValidationMessageFor(model => model.Name)
            <p>Пароль</p>
            <input id="Password" name="Password" value="@Model.Password" readonly />
            @Html.ValidationMessageFor(model => model.Password)
            <p>Имя</p>
            <input id="Name" name="Name" value="@Model.Name" required />
            @Html.ValidationMessageFor(model => model.Name)
            <p>Фамилия</p>
            <input id="Surname" name="Surname" value="@Model.Surname" required />
            @Html.ValidationMessageFor(model => model.Surname)
            <p>Отчество</p>
            <input id="Thirdname" name="Thirdname" value="@Model.Thirdname" required />
            @Html.ValidationMessageFor(model => model.Thirdname)
            <p>Дата рождения</p>
            <input id="DateOfBirth" name="DateOfBirth" type="date" value="@Model.DateOfBirth" required />
            @Html.ValidationMessageFor(model => model.DateOfBirth)
            <p>Эл. почта</p>
            <input id="Email" name="Email" value="@Model.Email" required />
            @Html.ValidationMessageFor(model => model.Email)
            <div>
                <table>
                    <tr>
                        <td>
                            <p>Выбранные рабочие дни</p>
                            <input id="WorkDays" name="WorkDays" value="@Model.WorkDays" required readonly />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Секция выбора рабочих дней</label>
                        </td>
                    <tr>
                        <td>
                            <select id="Pool" name="Pool" value="" required multiple>
                                <option selected value="ПН">ПН</option>
                                <option value="ВТ">ВТ</option>
                                <option value="СР">СР</option>
                                <option value="ЧТ">ЧТ</option>
                                <option value="ПТ">ПТ</option>
                                <option value="СБ">СБ</option>
                                <option value="ВС">ВС</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="button" value="Выбрать дни" onclick="GetDays()" />
                        </td>
                    </tr>
                </table>


                @Html.ValidationMessageFor(model => model.WorkDays)
            </div>

            <p>Профессия [Права]</p>
            <select id="ProfessionId" name="ProfessionId" value="">
                @{
                    foreach (var item in ViewBag.PassingValue[0])
                    {
                        if (item.Id == Model.ProfessionId)
                        {
                            <option selected value="@item.Id">@item.Name [@item.Power]</option>
                        }
                        else
                        {
                            <option value="@item.Id">@item.Name [@item.Power]</option>
                        }
                    }
                }
            </select>
            @Html.ValidationMessageFor(model => model.ProfessionId)
            <p>Код рабочего места</p>
            <select id="WorkPlaceId" name="WorkPlaceId" value="">
                @{
                    foreach (var item in ViewBag.PassingValue[1])
                    {
                        if (item == Model.WorkPlaceId)
                        {
                            <option selected value="@item">@item</option>
                        }
                        else
                        {
                            <option value="@item">@item</option>
                        }
                    }
                }
            </select> @Html.ValidationMessageFor(model => model.WorkPlaceId)
            <br /><br />
            <input type="submit" value="Изменить" />
        }
        <p>
            <form action="/Worker/Index">
                <input type="submit" value="Назад" />
            </form>
        </p>
    </fieldset>
    <script>
        function GetDays() {
            var sel = document.getElementById('Pool');

            var choosedDays = new Array();
            for (var i = 0; i < sel.options.length; i++) {
                if (sel.options[i].selected) {
                    choosedDays.push(sel.options[i].value);
                }
            }

            var outPut = "";

            for (var i = 0; i < choosedDays.length; i++) {
                if (choosedDays.length - 1 == i) {
                    outPut += choosedDays[i];
                }
                else {
                    outPut += choosedDays[i] + ","
                }
            }

            document.getElementById('WorkDays').value = outPut;
        }
    </script>
</div>
