@model Information_System_MVC.Models.Worker
@{
    ViewBag.Title = "Работники";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3>Работники -> Редактирование записи</h3>
    @using (Html.BeginForm("Edit", "Worker", FormMethod.Post))
    {
        <fieldset>
            <p>Логин</p>
            <input id="Id" name="Id" value="@Model.Id" readonly />
            @Html.ValidationMessageFor(model => model.Name)
            <p>Пароль</p>
            <input id="Password" name="Password" value="@Model.Password" readonly />
            @Html.ValidationMessageFor(model => model.Password)
            <p>Имя</p>
            <input id="Name" name="Name" value="@Model.Name" />
            @Html.ValidationMessageFor(model => model.Name)
            <p>Фамилия</p>
            <input id="Surname" name="Surname" value="@Model.Surname" />
            @Html.ValidationMessageFor(model => model.Surname)
            <p>Отчество</p>
            <input id="Thirdname" name="Thirdname" value="@Model.Thirdname" />
            @Html.ValidationMessageFor(model => model.Thirdname)
            <p>Дата рождения</p>
            <input id="DateOfBirth" name="DateOfBirth" type="date" value="@Model.DateOfBirth" />
            @Html.ValidationMessageFor(model => model.DateOfBirth)
            <p>Эл. почта</p>
            <input id="Email" name="Email" value="@Model.Email" />
            @Html.ValidationMessageFor(model => model.Email)
            <p>Рабочие дни</p>
            <input id="WorkDays" name="WorkDays" value="@Model.WorkDays" />
            @Html.ValidationMessageFor(model => model.WorkDays)
            <p>Код профессии</p>
            <input id="ProfessionId" name="ProfessionId" value="@Model.ProfessionId" readonly />
            @Html.ValidationMessageFor(model => model.ProfessionId)
            <p>Код рабочего места</p>
            <input id="WorkPlaceId" name="WorkPlaceId" value="@Model.WorkPlaceId" readonly />
            @Html.ValidationMessageFor(model => model.WorkPlaceId)
            <br /><br />
            <input type="submit" value="Изменить" />
        </fieldset>
    }
</div>
