@model Information_System_MVC.Models.Equipment
@{
    ViewBag.Title = "Оборудование";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3>Оборудование -> Добавление записи</h3>
    <fieldset>
        @using (Html.BeginForm("Create", "Equipment", FormMethod.Post))
        {
            <p>Название</p>
            <input id="Name" name="Name" value="" required />
            @Html.ValidationMessageFor(model => model.Name)

            <p>Количество</p>
            <input id="Quantity" name="Quantity" type="number" min="1" value="1" required />
            @Html.ValidationMessageFor(model => model.Quantity)

            <p>Профессия [Права]</p>
            <select id="ProfessionId" name="ProfessionId" value="0">
                @{
                    foreach (var item in ViewBag.PassingValue)
                    {
                        <option value="@item.Id">@item.Name [@item.Power]</option>
                    }
                }
            </select>
            @Html.ValidationMessageFor(model => model.ProfessionId)
            <br /><br />
            <input type="submit" value="Добавить" />
        }
        <p>
            <form action="/Equipment/Index">
                <input type="submit" value="Назад" />
            </form>
        </p>
    </fieldset>
</div>