@model Information_System_MVC.Models.Equipment
@{
    ViewBag.Title = "Здания на территории";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3>Оборудование -> Редактирование записи</h3>
    <fieldset>
        @using (Html.BeginForm("Edit", "Equipment", FormMethod.Post))
        {
            <p>Код оборудования</p>

            <input id="Id" name="Id" value="@Model.Id" readonly />
            @Html.ValidationMessageFor(model => model.Id)


            <p>Название</p>

            <input id="Name" name="Name" value="@Model.Name" required />
            @Html.ValidationMessageFor(model => model.Name)


            <p>Количество</p>
            <input id="Quantity" name="Quantity" type="number" min="1" value="@Model.Quantity" required />
            @Html.ValidationMessageFor(model => model.Quantity)

            <p>Профессия [Права]</p>
            <select id="ProfessionId" name="ProfessionId" value="0">
                @{
                    foreach (var item in ViewBag.PassingValue)
                    {
                        if (item.Id == Model.ProfessionId)
                        {
                            <option selected value="@item.Id">@item.Name [@item.Power]</option>
                        }
                        else
                        {
                            <option value="@item.Id">@item.Name [@item.Power]</option>
                        }
                    }
                }
            </select>
            @Html.ValidationMessageFor(model => model.ProfessionId)
            <br /> <br />
            <input type="submit" value="Изменить" />
        }
        <p>
            <form action="/Equipment/Index">
                <input type="submit" value="Назад" />
            </form>
        </p>
    </fieldset>
</div>