@model Information_System_MVC.Models.Product
@{
    ViewBag.Title = "Товары";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3>Товары -> Удаление товара</h3>
    <fieldset>
        @using (Html.BeginForm("Delete", "Product", FormMethod.Post))
        {
            <p>Код записи</p>
            <input id="Id" name="Id" value="@Model.Id" readonly />
            @Html.ValidationMessageFor(model => model.Id)

            <p>Название</p>
            <input id="Name" name="Name" value="@Model.Name" readonly />
            @Html.ValidationMessageFor(model => model.Name)

            <p>Цена</p>
            <input id="Price" name="Price" value="@Model.Price" readonly />
            @Html.ValidationMessageFor(model => model.Price)

            <p>Описание</p>
            <textarea id="Description" name="Description" readonly>@Model.Description</textarea>
            @Html.ValidationMessageFor(model => model.Description)

            <p>Вид</p>
            <input id="Type" name="Type" value="@Model.Type" readonly />
            @Html.ValidationMessageFor(model => model.Type)

            <p>Количество</p>
            <input id="Quantity" name="Quantity" value="@Model.Quantity" readonly />
            @Html.ValidationMessageFor(model => model.Quantity)
            <br /> <br />
            using (Html.BeginForm())
            {
                <input type="submit" value="Удалить" />
            }
        }
        <p>
            <form action="/Product/Index">
                <input type="submit" value="Назад" />
            </form>
        </p>
    </fieldset>
</div>
