@{
    ViewBag.Title = "Товары";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
</head>
<body>
    <div>
        <h3>Товары -> Просмотр записей</h3>
        @{
            if ((System.Web.HttpContext.Current.Session["CurrentUser"] is Information_System_MVC.Models.ConnectedWorker))
            {
                if ((System.Web.HttpContext.Current.Session["CurrentUser"] as Information_System_MVC.Models.ConnectedWorker).Power == 2)
                {
                    <form action="/Product/Create">
                        <input type="submit" value="Добавить запись" />
                    </form>
                }
            }
        }

        <table>
            <tr>
                <td><p>Код записи</p></td>
                <td><p>Название</p></td>
                <td><p>Цена</p></td>
                <td><p>Описание</p></td>
                <td><p>Вид</p></td>
                <td><p>Количество</p></td>
            </tr>
            @foreach (var item in ViewBag.Products)
            {
                <tr>
                    <td>
                        <input id="Id" name="Id" value=" @item.Id" readonly />
                    </td>
                    <td>
                        <input id="Name" name="Name" value=" @item.Name" readonly />
                    </td>
                    <td>
                        <input id="Price" name="Price" value=" @item.Price" readonly />
                    </td>
                    <td>
                        <input id="Description" name="Description" value=" @item.Description" readonly />
                    </td>
                    <td>
                        <input id="Type" name="Type" value=" @item.Type" readonly />
                    </td>
                    <td>
                        <input id="Quantity" name="Quantity" value=" @item.Quantity" readonly />
                    </td>
                    <td>
                        <a href="/Product/Details/@item.Id">
                            Подробно
                        </a>
                    </td>
                    @{
                        if ((System.Web.HttpContext.Current.Session["CurrentUser"] is Information_System_MVC.Models.ConnectedWorker))
                        {
                            if ((System.Web.HttpContext.Current.Session["CurrentUser"] as Information_System_MVC.Models.ConnectedWorker).Power == 2)
                            {
                                <td>
                                    <a href="/Product/Edit/@item.Id">
                                        Изменить
                                    </a>
                                </td>
                            }

                            if ((System.Web.HttpContext.Current.Session["CurrentUser"] as Information_System_MVC.Models.ConnectedWorker).Power == 2)
                            {
                                <td>
                                    <a href="/Product/Delete/@item.Id">
                                        Удалить
                                    </a>
                                </td>
                            }

                        }
                    }
                    @{
                        if ((System.Web.HttpContext.Current.Session["CurrentUser"] is Information_System_MVC.Models.Tourist))
                        {
                            <td>
                                <form>
                                    @using (Html.BeginForm("Order", "Event", FormMethod.Post))
                                    {
                                        <table>
                                            <tr>
                                                <td>
                                                    <p>Количество</p>
                                                    <input type="number" min="1" name="count" value="1">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input type="submit" value="Заказать" />
                                                </td>
                                            </tr>
                                        </table>
                                    }
                                </form>
                            </td>
                        }
                    }
                </tr>
            }

        </table>
    </div>
</body>
</html>
