@{
    ViewBag.Title = "Товары";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        * {
            box-sizing: border-box;
        }

        /* Button used to open the contact form - fixed at the bottom of the page */
        /* .open-button {
            background-color: #555;
            color: white;
            padding: 16px 20px;
            border: none;
            cursor: pointer;
            opacity: 0.8;
            position: fixed;
            bottom: 23px;
            right: 28px;
            width: 280px;
        }*/

        /* The popup form - hidden by default */
        .form-popup {
            display: none;
            position: fixed;
            bottom: 0;
            right: 15px;
            border: 3px solid #f1f1f1;
            z-index: 9;
        }

        /* Add styles to the form container */
        .form-container {
            max-width: 300px;
            padding: 10px;
            background-color: white;
        }

            /* Full-width input fields */
            .form-container input[type=text], .form-container input[type=password] {
                width: 100%;
                padding: 15px;
                margin: 5px 0 22px 0;
                border: none;
                background: #f1f1f1;
            }

                /* When the inputs get focus, do something */
                .form-container input[type=text]:focus, .form-container input[type=password]:focus {
                    background-color: #ddd;
                    outline: none;
                }

            /* Set a style for the submit/login button */
            .form-container .btn {
                background-color: #04AA6D;
                color: white;
                padding: 16px 20px;
                border: none;
                cursor: pointer;
                width: 100%;
                margin-bottom: 10px;
                opacity: 0.8;
            }

            /* Add a red background color to the cancel button */
            .form-container .cancel {
                background-color: red;
            }

            /* Add some hover effects to buttons */
            .form-container .btn:hover, .open-button:hover {
                opacity: 1;
            }
    </style>
</head>
<body>
    <div>
        <h3>Товары -> Просмотр записей</h3>
        @{
            if ((System.Web.HttpContext.Current.Session["CurrentUser"] is Information_System_MVC.Models.ConnectedWorker))
            {
                if ((System.Web.HttpContext.Current.Session["CurrentUser"] as Information_System_MVC.Models.ConnectedWorker).Power == 2)
                {
                    <form action="/Product/Create">
                        <input type="submit" value="Добавить запись" />
                    </form>
                }
            }
        }

        <table>
            <tr>
                <td><p>Код записи</p></td>
                <td><p>Название</p></td>
                <td><p>Цена</p></td>
                <td><p>Описание</p></td>
                <td><p>Вид</p></td>
                <td><p>Количество</p></td>
            </tr>
            @foreach (var item in ViewBag.Products)
            {
                <tr>
                    <td>
                        <input id="Id" name="Id" value=" @item.Id" readonly />
                    </td>
                    <td>
                        <input id="Name" name="Name" value=" @item.Name" readonly />
                    </td>
                    <td>
                        <input id="Price" name="Price" value=" @item.Price" readonly />
                    </td>
                    <td>
                        <input id="Description" name="Description" value=" @item.Description" readonly />
                    </td>
                    <td>
                        <input id="Type" name="Type" value=" @item.Type" readonly />
                    </td>
                    <td>
                        <input id="Quantity" name="Quantity" value=" @item.Quantity" readonly />
                    </td>
                    <td>
                        <a href="/Product/Details/@item.Id">
                            Подробно
                        </a>
                    </td>
                    @{
                        if ((System.Web.HttpContext.Current.Session["CurrentUser"] is Information_System_MVC.Models.ConnectedWorker))
                        {
                            if ((System.Web.HttpContext.Current.Session["CurrentUser"] as Information_System_MVC.Models.ConnectedWorker).Power == 2)
                            {
                                <td>
                                    <a href="/Product/Edit/@item.Id">
                                        Изменить
                                    </a>
                                </td>
                            }

                            if ((System.Web.HttpContext.Current.Session["CurrentUser"] as Information_System_MVC.Models.ConnectedWorker).Power == 2)
                            {
                                <td>
                                    <a href="/Product/Delete/@item.Id">
                                        Удалить
                                    </a>
                                </td>
                            }

                        }
                    }
                    @{
                        if ((System.Web.HttpContext.Current.Session["CurrentUser"] is Information_System_MVC.Models.Tourist))
                        {
                            <td>
                                <button class="open-button" onclick="openForm()">Заказать</button>
                                <div class="form-popup" id="myForm">
                                    @using (Html.BeginForm("Order", "Product", FormMethod.Post))
                                    {
                                        <form action="/action_page.php" class="form-container">
                                            <h1>Заказ товара № @item.Id</h1>
                                            <input type="text" name="id" value="@item.Id" hidden readonly>
                                            <label for="count"><b>Количество</b></label>
                                            <input type="text" placeholder="Введите количество" name="count" required>
                                            <br /><br />
                                            @*<button type="submit" class="btn">Подтвердить</button>*@
                                            <input type="submit" value="Подтвердить" />
                                            <button type="button" class="btn cancel" onclick="closeForm()">Отмена</button>
                                        </form>
                                    }
                                </div>

                                <script>
                                    function openForm() {
                                        document.getElementById("myForm").style.display = "block";
                                    }

                                    function closeForm() {
                                        document.getElementById("myForm").style.display = "none";
                                    }
                                </script>
                            </td>
                        }
                    }
                </tr>
                <br />
            }

        </table>
    </div>
</body>
</html>
