@model Information_System_MVC.Models.Building
@{
    ViewBag.Title = "Здания на территории";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3>Здания на территории -> Подробная информация</h3>
    @using (Html.BeginForm("Details", "Building", FormMethod.Get))
    {
        <fieldset>
            @Html.LabelFor(x => x.Id, "Код здания")
            <input id="RoomCount" name="RoomCount" value="@Model.Id" readonly />
            @Html.ValidationMessageFor(model => model.Id)
            @Html.LabelFor(x => x.RoomCount, "Количество комнат")
            <input id="RoomCount" name="RoomCount" value="@Model.RoomCount" readonly />
            @Html.ValidationMessageFor(model => model.RoomCount)
            <br /> <br />
        </fieldset>
    }
</div>