@model Information_System_MVC.Models.User

@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link type="text/css" rel="stylesheet" href="/Content/Site.css" />
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h2>Вход в аккаунт</h2>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label>Логин</label>
                <div class="col-md-10">
                    <input id="Login" name="Login" value="" required />
                    @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <div class="form-group">
                <label>Пароль</label>
                <div class="col-md-10">
                    <input id="Password" name="Password" value="" required type="password" />
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <p>
                <p>
                    <strong style="">
                        Введите текст с картинки
                    </strong>
                </p>
                <img src='@Url.Action("Captcha", "Login")' alt='captcha' />
                <div class="editor-field">
                    <p>
                        <input type="text" value="" id="Captcha" name="Captcha" required />
                        @Html.ValidationMessageFor(model => model.Captcha)
                    </p>
                </div>
                </p>
            </div>
            <br />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Войти" class="btn btn-default" id="btnSubmit" />
                </div>
            </div>
        </div>
    }
</body>
</html>
