@model Information_System_MVC.Models.WorkPlace
@{
    ViewBag.Title = "Рабочие места";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3>Рабочие места -> Удаление записи</h3>
    <fieldset>
        <p>Код записи</p>
        <input id="Id" name="Id" value="@Model.Id" readonly />
        <p>Код места в здании</p>
        <input id="PlaceId" name="PlaceId" value="@Model.PlaceId" readonly />
        @Html.ValidationMessageFor(model => model.PlaceId)
        <p>Код здания</p>
        <input id="BuildingId" name="BuildingId" value="@Model.BuildingId" readonly />
        @Html.ValidationMessageFor(model => model.BuildingId)
        <br /><br />
        @using (Html.BeginForm())
        {
            <input type="submit" value="Удалить" />
        }
        <p>
            <form action="/WorkPlace/Index">
                <input type="submit" value="Назад" />
            </form>
        </p>
    </fieldset>
</div>