@model Information_System_MVC.Models.Event
@{
    ViewBag.Title = "Мероприятия";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3>Мероприятия -> Добавление записи</h3>
    <fieldset>
        @using (Html.BeginForm("Create", "Event", FormMethod.Post))
        {
            <p>Название</p>
            <input id="Name" name="Name" value="" required />
            @Html.ValidationMessageFor(model => model.Name)

            <p>Цена</p>
            <input id="Price" name="Price" type="number" min="1" value="1" required />
            @Html.ValidationMessageFor(model => model.Price)

            <p>Описание</p>
            <textarea id="Description" name="Description" required></textarea>
            @*<input id="Description" name="Description" value="" />*@
            @Html.ValidationMessageFor(model => model.Description)

            <p>Дата проведения</p>
            <input id="Date" name="Date" type="datetime-local" value="" required />
            @Html.ValidationMessageFor(model => model.Date)

            <p>Количество билетов</p>
            <input id="Quantity" name="Quantity" type="number" min="1" value="1" />
            @Html.ValidationMessageFor(model => model.Quantity)

            <p>Код рабочего места</p>
            <select id="WorkPlaceId" name="WorkPlaceId" value="">
                @{
                    foreach (var item in ViewBag.PassingValue)
                    {
                        <option value="@item">@item</option>
                    }
                }
            </select>
            @Html.ValidationMessageFor(model => model.WorkPlaceId)

            <br /><br />
            <input type="submit" value="Добавить" />
        }
        <p>
            <form action="/Event/Index">
                <input type="submit" value="Назад" />
            </form>
        </p>
    </fieldset>
</div>