@model Information_System_MVC.Models.Event
@{
    ViewBag.Title = "Мероприятия";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3>Мероприятия-> Редактирование записи</h3>
    <fieldset>
        @using (Html.BeginForm("Edit", "Event", FormMethod.Post))
        {
            <p>Код записи</p>
            <input id="Id" name="Id" value="@Model.Id" readonly />
            @Html.ValidationMessageFor(model => model.Id)

            <p>Название</p>
            <input id="Name" name="Name" value="@Model.Name" required />
            @Html.ValidationMessageFor(model => model.Name)

            <p>Цена</p>
            <input id="Price" name="Price" type="number" min="1" value="@Model.Price" required />
            @Html.ValidationMessageFor(model => model.Price)

            <p>Описание</p>
<textarea id="Description" name="Description" required>@Model.Description</textarea>
            @Html.ValidationMessageFor(model => model.Description)

            <p>Дата проведения</p>
            <input id="Date" name="Date" type="datetime-local" value="@Model.Date" required />
            @Html.ValidationMessageFor(model => model.Date)

            <p>Количество билетов</p>
            <input id="Quantity" name="Quantity" type="number" min="1" value="@Model.Quantity" required />
            @Html.ValidationMessageFor(model => model.Quantity)

            <p>Код рабочего места</p>
            <select id="WorkPlaceId" name="WorkPlaceId" value="">
                @{
                    foreach (var item in ViewBag.PassingValue)
                    {
                        if (item == Model.WorkPlaceId)
                        {
                            <option selected value="@item">@item</option>
                        }
                        else
                        {
                            <option value="@item">@item</option>
                        }
                    }
                }
            </select>
            @Html.ValidationMessageFor(model => model.WorkPlaceId)
            <br /> <br />
            <input type="submit" value="Изменить" />
        }
        <p>
            <form action="/Event/Index">
                <input type="submit" value="Назад" />
            </form>
        </p>
    </fieldset>
</div>