@{
    ViewBag.Title = "Мероприятия";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
</head>
<body>
    <div>
        <h3>Мероприятия -> Просмотр записей</h3>
        @{
            if ((System.Web.HttpContext.Current.Session["CurrentUser"] is Information_System_MVC.Models.ConnectedWorker))
            {
                if ((System.Web.HttpContext.Current.Session["CurrentUser"] as Information_System_MVC.Models.ConnectedWorker).Power == 2
                    || (System.Web.HttpContext.Current.Session["CurrentUser"] as Information_System_MVC.Models.ConnectedWorker).Power == 1)
                {
                    <form action="/Event/Create">
                        <input type="submit" value="Добавить запись" />
                    </form>
                }
            }
        }

        <table>
            <tr>
                <td><p>Код записи</p></td>
                <td><p>Название</p></td>
                <td><p>Цена</p></td>
                <td><p>Описание</p></td>
                <td><p>Дата проведения</p></td>
                <td><p>Количество билетов</p></td>
                <td><p>Код рабочего места</p></td>
            </tr>
            @foreach (var item in ViewBag.Events)
            {
                if ((System.Web.HttpContext.Current.Session["CurrentUser"] is Information_System_MVC.Models.Tourist))
                {
                    <tr>
                        <td>
                            <input id="Id" name="Id" value=" @item.Id" readonly />
                        </td>
                        <td>
                            <input id="Name" name="Name" value=" @item.Name" readonly />
                        </td>
                        <td>
                            <input id="Price" name="Price" value=" @item.Price" readonly />
                        </td>
                        <td>
                            <input id="Description" name="Description" value=" @item.Description" readonly />
                        </td>
                        <td>
                            <input id="Date" name="Date" value=" @item.Date" readonly />
                        </td>
                        <td>
                            <input id="Quantity" name="Quantity" value=" @item.Quantity" readonly />
                        </td>
                        <td>
                            <input id="WorkPlaceId" name="WorkPlaceId" value=" @item.WorkPlaceId" readonly />
                        </td>
                        <td>
                            <a href="/Event/Details/@item.Id">
                                Подробно
                            </a>
                        </td>

                        <td>
                            @using (Html.BeginForm("Order", "Event", FormMethod.Post))
                            {
                                <p>
                                    <label>Количество</label><input type="number" min="1" name="count" value="1"><input type="submit" value="Заказать" />
                                </p>
                            }
                        </td>
                    </tr>
                }
                if ((System.Web.HttpContext.Current.Session["CurrentUser"] is Information_System_MVC.Models.ConnectedWorker))
                {
                    <tr>
                        <td>
                            <input id="Id" name="Id" value=" @item.Id" readonly />
                        </td>
                        <td>
                            <input id="Name" name="Name" value=" @item.Name" readonly />
                        </td>
                        <td>
                            <input id="Price" name="Price" value=" @item.Price" readonly />
                        </td>
                        <td>
                            <input id="Description" name="Description" value=" @item.Description" readonly />
                        </td>
                        <td>
                            <input id="Date" name="Date" value=" @item.Date" readonly />
                        </td>
                        <td>
                            <input id="Quantity" name="Quantity" value=" @item.Quantity" readonly />
                        </td>
                        <td>
                            <input id="WorkPlaceId" name="WorkPlaceId" value=" @item.WorkPlaceId" readonly />
                        </td>
                        <td>
                            <a href="/Event/Details/@item.Id">
                                Подробно
                            </a>
                        </td>
                        <td>
                            <a href="/Event/Edit/@item.Id">
                                Изменить
                            </a>
                        </td>
                        <td>
                            <a href="/Event/Delete/@item.Id">
                                Удалить
                            </a>
                        </td>
                    </tr>
                }

            }
        </table>
    </div>
</body>
</html>

