@model Information_System_MVC.Models.Room
@{
    ViewBag.Title = "Номера";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3>Номера -> Добавление записи</h3>
    @using (Html.BeginForm("Create", "Room", FormMethod.Post))
    {
        <fieldset onshow="Fill()">
            <p>Цена</p>
            <input id="Price" name="Price" type="number" min="1" value="1" required/>
            @Html.ValidationMessageFor(model => model.Price)
            <p>Количество кроватей</p>
            <input id="Beds" name="Beds" type="number" min="1" value="1" required/>
            @Html.ValidationMessageFor(model => model.Beds)
            <p>Количество комнат</p>
            <input id="SingleRooms" type="number" min="1" name="SingleRooms" value="1" required/>
            @Html.ValidationMessageFor(model => model.SingleRooms)
            <p>Свободен?</p>
            <select id="IsAvailable" name="IsAvailable" value="True">
                <option value="True">Да</option>
                <option value="False">Нет</option>
            </select>
            @Html.ValidationMessageFor(model => model.IsAvailable)
            <p>Код здания</p>
            <select id="BuildingId" name="BuildingId" value="">
                @{
                    foreach (var item in ViewBag.PassingValue)
                    {
                        <option value="@item">@item</option>
                    }
                }
            </select>
            @Html.ValidationMessageFor(model => model.BuildingId)
            <br /><br />
            <input type="submit" value="Добавить" />
        </fieldset>
    }
</div>
<script>
    function Fill() {
    }
</script>