@model Information_System_MVC.Models.Room
@{
    ViewBag.Title = "Номера";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3>Номера -> Редактирование записи</h3>
    @using (Html.BeginForm("Edit", "Room", FormMethod.Post))
    {
        <fieldset>
            <p>Код номера</p>
            <input id="Id" name="Id" value="@Model.Id" readonly />
            @Html.ValidationMessageFor(model => model.Price)
            <p>Цена</p>
            <input id="Price" name="Price" value="@Model.Price" />
            @Html.ValidationMessageFor(model => model.Price)
            <p>Количество кроватей</p>
            <input id="Beds" name="Beds" value="@Model.Beds" />
            @Html.ValidationMessageFor(model => model.Beds)
            <p>Количество комнат</p>
            <input id="SingleRooms" name="SingleRooms" value="@Model.SingleRooms" />
            @Html.ValidationMessageFor(model => model.SingleRooms)
            <p>Свободен?</p>
            <input id="IsAvailable" name="IsAvailable" value="@Model.IsAvailable" />
            @Html.ValidationMessageFor(model => model.IsAvailable)
            <p>Код здания</p>
            <input id="BuildingId" name="BuildingId" value="@Model.BuildingId" readonly />
            @Html.ValidationMessageFor(model => model.BuildingId)
            <br /><br />
            <input type="submit" value="Изменить" />
        </fieldset>
    }
</div>