@model Information_System_MVC.Models.Room
@{
    ViewBag.Title = "Номера";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3>Номера -> Редактирование записи</h3>
    @using (Html.BeginForm("Edit", "Room", FormMethod.Post))
    {
        <fieldset>
            <p>Код номера</p>
            <input id="Id" name="Id" value="@Model.Id" readonly />
            @Html.ValidationMessageFor(model => model.Price)
            <p>Цена</p>
            <input id="Price" name="Price" type="number" min="1" value="@Model.Price" required/>
            @Html.ValidationMessageFor(model => model.Price)
            <p>Количество кроватей</p>
            <input id="Beds" name="Beds" type="number" min="1" value="@Model.Beds" required/>
            @Html.ValidationMessageFor(model => model.Beds)
            <p>Количество комнат</p>
            <input id="SingleRooms" name="SingleRooms" type="number" min="1" value="@Model.SingleRooms" required/>
            @Html.ValidationMessageFor(model => model.SingleRooms)
            <p>Свободен?</p>
            <select id="IsAvailable" name="IsAvailable" value="@Model.IsAvailable.ToString()">
                @{
                    if (Model.IsAvailable == true)
                    {
                        <option selected value="True">Да</option>
                        <option value="False">Нет</option>
                    }
                    else
                    {
                        <option value="True">Да</option>
                        <option selected value="False">Нет</option>
                    }
                }
            </select>
            @Html.ValidationMessageFor(model => model.IsAvailable)
            <p>Код здания</p>
            <select id="BuildingId" name="BuildingId" value="">
                @{
                    foreach (var item in ViewBag.PassingValue)
                    {
                        if (item == Model.BuildingId)
                        {
                            <option selected value="@item">@item</option>
                        }
                        else
                        {
                            <option value="@item">@item</option>
                        }
                    }
                }
            </select>
            @Html.ValidationMessageFor(model => model.BuildingId)
            <br /><br />
            <input type="submit" value="Изменить" />
        </fieldset>
    }
</div>