@model Information_System_MVC.Models.Tourist
@{
    ViewBag.Title = "Туристы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3>Туристы -> Добавление записи</h3>
    @using (Html.BeginForm("Create", "Tourist", FormMethod.Post))
    {
        <fieldset>
            <p>Пароль</p>
            <input id="Password" name="Password" value="" />
            @Html.ValidationMessageFor(model => model.Password)
            <p>Имя</p>
            <input id="Name" name="Name" value="" />
            @Html.ValidationMessageFor(model => model.Name)
            <p>Фамилия</p>
            <input id="Surname" name="Surname" value="" />
            @Html.ValidationMessageFor(model => model.Surname)
            <p>Отчество</p>
            <input id="Thirdname" name="Thirdname" value="" />
            @Html.ValidationMessageFor(model => model.Thirdname)
            <p>Дата рождения</p>
            <input id="DateOfBirth" name="DateOfBirth" type="date" value="" />
            @Html.ValidationMessageFor(model => model.DateOfBirth)
            <p>Эл. почта</p>
            <input id="Email" name="Email" value="" />
            @Html.ValidationMessageFor(model => model.Email)
            <p>Дата приезда</p>
            <input id="DateOfComing" name="DateOfComing" type="datetime-local" value="" />
            @Html.ValidationMessageFor(model => model.DateOfComing)
            <p>Дата отъезда</p>
            <input id="DateOfLeaving" name="DateOfLeaving" type="datetime-local" value="" />
            @Html.ValidationMessageFor(model => model.DateOfLeaving)
            <p>Страна</p>
            <input id="Country" name="Country" value="" />
            @Html.ValidationMessageFor(model => model.Country)
            <p>Номер комнаты</p>
            <select id="RoomId" name="RoomId" value="">
                @{
                    foreach (var item in ViewBag.PassingValue)
                    {
                        if (item.IsAvailable)
                        {
                            <option style="background-color: green" value="@item.Id">[№ @item.Id] Цена @item.Price,  Комнат @item.SingleRooms, Кроватей @item.Beds, Код здания @item.BuildingId</option>
                        }
                        else
                        {
                            <option style="background-color: brown" value="@item.Id">[№ @item.Id] Цена @item.Price,  Комнат @item.SingleRooms, Кроватей @item.Beds, Код здания @item.BuildingId</option>
                        }
                    }
                }
            </select>
            @Html.ValidationMessageFor(model => model.RoomId)
            <br /><br />
            <input type="submit" value="Добавить" />
        </fieldset>
    }
</div>