@model Information_System_MVC.Models.Tourist
@{
    ViewBag.Title = "Туристы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3>Туристы -> Удаление записи</h3>
    <fieldset>
        <p>Логин</p>
        <input id="Id" name="Id" value="@Model.Id" readonly />
        @Html.ValidationMessageFor(model => model.Id)
        <p>Пароль</p>
        <input id="Password" name="Password" value="@Model.Password" readonly />
        @Html.ValidationMessageFor(model => model.Password)
        <p>Имя</p>
        <input id="Name" name="Name" value="@Model.Name" readonly />
        @Html.ValidationMessageFor(model => model.Name)
        <p>Фамилия</p>
        <input id="Surname" name="Surname" value="@Model.Surname" readonly />
        @Html.ValidationMessageFor(model => model.Surname)
        <p>Отчество</p>
        <input id="Thirdname" name="Thirdname" value="@Model.Thirdname" readonly />
        @Html.ValidationMessageFor(model => model.Thirdname)
        <p>Дата рождения</p>
        <input id="DateOfBirth" name="DateOfBirth" value="@Model.DateOfBirth" readonly />
        @Html.ValidationMessageFor(model => model.DateOfBirth)
        <p>Эл. почта</p>
        <input id="Email" name="Email" value="@Model.Email" readonly />
        @Html.ValidationMessageFor(model => model.Email)
        <p>Дата приезда</p>
        <input id="DateOfComing" name="DateOfComing" value="@Model.DateOfComing" readonly />
        @Html.ValidationMessageFor(model => model.DateOfComing)
        <p>Дата отъезда</p>
        <input id="DateOfLeaving" name="DateOfLeaving" value="@Model.DateOfLeaving" readonly />
        @Html.ValidationMessageFor(model => model.DateOfLeaving)
        <p>Номер комнаты</p>
        <input id="RoomId" name="RoomId" value="@Model.RoomId" readonly />
        @Html.ValidationMessageFor(model => model.RoomId)
        <br /><br />
        @using (Html.BeginForm())
        {
            <input type="submit" value="Удалить" />
        }
    </fieldset>
</div>