@model Information_System_MVC.Models.BookedTicket
@{
    ViewBag.Title = "Забронированные билеты";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3>Забронированные билеты -> Добавление записи</h3>
    <fieldset>
        @using (Html.BeginForm("Create", "BookedTickets", FormMethod.Post))
        {
            <p>Количество</p>
            <input id="Quantity" name="Quantity" type="number" min="1" value="1" required />
            @Html.ValidationMessageFor(model => model.Quantity)
            <p>Стоимость</p>
            <input id="Cost" name="Cost" type="number" min="1" value="1" required />
            @Html.ValidationMessageFor(model => model.Cost)
            <p>Оплачен ?</p>
            <select name="IsPaid" id="IsPaid" value="">
                <option value="true" selected>Да</option>
                <option value="false">Нет</option>
            </select>
            @Html.ValidationMessageFor(model => model.IsPaid)
            <p>Код мероприятия</p>
            <select name="EventId" id="EventId" value="">
                @{
                    foreach (var item in ViewBag.PassingValue[1])
                    {
                        <option value="@item.Id" selected>@item.Name [@item.Id]</option>
                    }
                }
            </select>
            @Html.ValidationMessageFor(model => model.EventId)
            <p>Код туриста</p>
            <select name="TouristId" id="TouristId" value="">
                @{
                    foreach (var item in ViewBag.PassingValue[0])
                    {
                        <option value="@item" selected>@item</option>
                    }
                }
            </select>
            @Html.ValidationMessageFor(model => model.TouristId)
            <br />
            <input type="submit" value="Добавить" />
        }
        <p>
            <form action="/BookedTickets/Index">
                <input type="submit" value="Назад" />
            </form>
        </p>
    </fieldset>
</div>