@{
    ViewBag.Title = "Забронированные билеты";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3>Забронированные билеты -> Просмотр записей</h3>
    @{
        if ((System.Web.HttpContext.Current.Session["CurrentUser"] is Information_System_MVC.Models.ConnectedWorker))
        {
            if ((System.Web.HttpContext.Current.Session["CurrentUser"] as Information_System_MVC.Models.ConnectedWorker).Power == 2)
            {
                <form action="/BookedTickets/Create">
                    <input type="submit" value="Добавить запись" />
                </form>
            }
        }
    }
    <table>
        <tr>
            <td><p>Код записи</p></td>
            <td><p>Количество</p></td>
            <td><p>Стоимость</p></td>
            <td><p>Оплачен?</p></td>
            <td><p>Код мероприятия</p></td>
            <td><p>Логин туриста</p></td>
        </tr>
        @foreach (var item in ViewBag.BookedTickets)
        {
            if ((System.Web.HttpContext.Current.Session["CurrentUser"] is Information_System_MVC.Models.Tourist) &&
                (System.Web.HttpContext.Current.Session["CurrentUser"] as Information_System_MVC.Models.Tourist).Id == item.TouristId)
            {
                <tr>
                    <td>
                        <input id="Id" name="Id" value=" @item.Id" readonly />
                    </td>
                    <td>
                        <input id="Quantity" name="Quantity" value=" @item.Quantity" readonly />
                    </td>
                    <td>
                        <input id="Cost" name="Cost" value=" @item.Cost" readonly />
                    </td>
                    <td>
                        @{
                            if (item.IsPaid == true)
                            {
                                <input id="IsPaid" name="IsPaid" value="Да" readonly />
                            }
                            else
                            {
                                <input id="IsPaid" name="IsPaid" value="Нет" readonly />
                            }
                        }
                    </td>
                    <td>
                        <input id="EventId" name="EventId" value=" @item.EventId" readonly />
                    </td>
                    <td>
                        <input id="TouristId" name="TouristId" value=" @item.TouristId" readonly />
                    </td>
                    <td>
                        <a href="/BookedTickets/Edit/@item.Id">Изменить</a>
                    </td>
                    <td>
                        <a href="/BookedTickets/Delete/@item.Id">
                            Удалить
                        </a>
                    </td>
                </tr>
            }
            if ((System.Web.HttpContext.Current.Session["CurrentUser"] is Information_System_MVC.Models.ConnectedWorker))
            {
                <tr>
                    <td>
                        <input id="Id" name="Id" value=" @item.Id" readonly />
                    </td>
                    <td>
                        <input id="Quantity" name="Quantity" value=" @item.Quantity" readonly />
                    </td>
                    <td>
                        <input id="Cost" name="Cost" value=" @item.Cost" readonly />
                    </td>
                    <td>
                        @{
                            if (item.IsPaid == true)
                            {
                                <input id="IsPaid" name="IsPaid" value="Да" readonly />
                            }
                            else
                            {
                                <input id="IsPaid" name="IsPaid" value="Нет" readonly />
                            }
                        }
                    </td>
                    <td>
                        <input id="EventId" name="EventId" value=" @item.EventId" readonly />
                    </td>
                    <td>
                        <input id="TouristId" name="TouristId" value=" @item.TouristId" readonly />
                    </td>
                    <td>
                        <a href="/BookedTickets/Edit/@item.Id">Изменить</a>
                    </td>
                    <td>
                        <a href="/BookedTickets/Delete/@item.Id">
                            Удалить
                        </a>
                    </td>
                </tr>
            }
        }
    </table>
</div>

