@{
    ViewBag.Title = "Забронированные билеты";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3>Забронированные билеты</h3>
    <h3> -> </h3>
    <h3>Просмотр всех записей</h3>
    <table>
        <tr>
            <td>Код записи</td>
            <td>Код мероприятия</td>
            <td>Количество билетов</td>
            <td>Стоимость заказа</td>
            <td>Логин заказчика</td>
            <td>Заказ оплачен?</td>
        </tr>
        @foreach (var item in ViewBag.BookedTickets)
        {
            <tr>
                <td>
                    <p>
                        @item.Id
                    </p>
                </td>
                <td>
                    <p>
                        @item.EventId
                    </p>
                </td>
                <td>
                    <p>
                        @item.Quantity
                    </p>
                </td>
                <td>
                    <p>
                        @item.Cost
                    </p>
                </td>
                <td>
                    <p>
                        @item.Login
                    </p>
                </td>
                <td>
                    <p>
                        @item.IsPaid
                    </p>
                </td>
            </tr>
            <br />
        }
    </table>
</div>

