@{
    ViewBag.Title = "Забронированные билеты";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3>Забронированные билеты -> Просмотр всех записей</h3>
    <table>
        <tr>
            <td><p>Код записи</p></td>
            <td><p>Количество</p></td>
            <td><p>Стоимость</p></td>
            <td><p>Оплачен?</p></td>
            <td><p>Код мероприятия</p></td>
            <td><p>Логин туриста</p></td>
        </tr>
        @foreach (var item in ViewBag.BookedTickets)
        {
            <tr>
                <td>
                    <input id="Id" name="Id" value=" @item.Id" readonly />
                </td>
                <td>
                    <input id="Quantity" name="Quantity" value=" @item.Quantity" readonly />
                </td>
                <td>
                    <input id="Cost" name="Cost" value=" @item.Cost" readonly />
                </td>
                <td>
                    <input id="IsPaid" name="IsPaid" value=" @item.IsPaid" readonly />
                </td>
                <td>
                    <input id="EventId" name="EventId" value=" @item.EventId" readonly />
                </td>
                <td>
                    <input id="TouristId" name="TouristId" value=" @item.TouristId" readonly />
                </td>
                <td>
                    <a href="/BookedTickets/Edit/@item.Id">Изменить</a>
                </td>
            </tr>
            <br />
        }
    </table>
</div>

