@model Information_System_MVC.Models.Order
@{
    ViewBag.Title = "Заказы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3>Заказы -> Добавление записи</h3>
    @using (Html.BeginForm("Create", "Order", FormMethod.Post))
    {
        <fieldset>
            <label>Количество</label>
            <input id="Quantity" type="number" min="1" name="Quantity" value="1" />
            @Html.ValidationMessageFor(model => model.Quantity)
            <label>Стоимость</label>
            <input id="Cost" type="number" min="1" name="Cost" value="1" />
            @Html.ValidationMessageFor(model => model.Cost)
            <label>Дата заказа</label>
            <input id="DateOrder" name="DateOrder" type="datetime-local" value="@DateTime.Now.ToString("yyyy-MM-ddThh:mm")" />
            @Html.ValidationMessageFor(model => model.DateOrder)
            <label>Оплачен ?</label>
            <select name="IsDone" id="IsDone" value="">
                <option value="true" selected>Да</option>
                <option value="false">Нет</option>
            </select>
            @Html.ValidationMessageFor(model => model.IsDone)
            <label>Код товара</label>
            <select id="ProductId" name="ProductId" value="">
                @{
                    foreach (var item in ViewBag.PassingValue[0])
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                }
            </select>
            @Html.ValidationMessageFor(model => model.ProductId)
            <label>Код туриста</label>
            <select id="TouristId" name="TouristId" value="">
                @{
                    foreach (var item in ViewBag.PassingValue[1])
                    {
                        <option value="@item">@item</option>
                    }
                }
            </select>
            @Html.ValidationMessageFor(model => model.TouristId)
            <br /> <br />
            <input type="submit" value="Добавить" />
        </fieldset>
    }
</div>