@model Information_System_MVC.Models.Order
@{
    ViewBag.Title = "Заказы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3>Заказы -> Редактирование записи</h3>
    @using (Html.BeginForm("Edit", "Order", FormMethod.Post))
    {
        <fieldset>
            <p>Код записи</p>
            <input id="Id" name="Id" value="@Model.Id" readonly />
            @Html.ValidationMessageFor(model => model.Id)

            <p>Количество</p>
            <input id="Quantity" type="number" min="0" name="Quantity" value="@Model.Quantity" readonly />
            @Html.ValidationMessageFor(model => model.Quantity)

            <p>Стоимость</p>
            <input id="Cost" name="Cost" type="number" min="1" value="@Model.Cost" readonly />
            @Html.ValidationMessageFor(model => model.Cost)

            <p>Логин туриста</p>
            <input id="TouristId" name="TouristId" value="@Model.TouristId" readonly />
            @Html.ValidationMessageFor(model => model.TouristId)
            <p>Дата заказа</p>
            <input id="DateOrder" readonly name="DateOrder" type="datetime-local" value="@Model.DateOrder.ToString("yyyy-MM-ddThh:mm")" />
            @Html.ValidationMessageFor(model => model.DateOrder)

            <p>
                <label>Оплачен ?</label>
                @{
                    if (Model.IsDone == true)
                    {
                        <select name="IsDone" id="IsDone" value="">
                            <option value="true" selected>Да</option>
                            <option value="false">Нет</option>
                        </select>
                    }
                    else
                    {
                        <select name="IsDone" id="IsDone" value="">
                            <option value="true">Да</option>
                            <option value="false" selected>Нет</option>
                        </select>
                    }
                }
            </p>
            @Html.ValidationMessageFor(model => model.IsDone)
            <p>Код товара</p>
            @{
                foreach (var item in ViewBag.PassingValue[0])
                {
                    if (item.Id == Model.ProductId)
                    {
                        <input readonly id="ProductId" name="ProductId" value="@item.Name" />
                    }
                }
            }
            @Html.ValidationMessageFor(model => model.ProductId)
            <br /> <br />
            <input type="submit" value="Изменить" />
        </fieldset>
    }
</div>