@{
    ViewBag.Title = "Заказы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3>Заказы -> Просмотр записей</h3>
    @{
        if ((System.Web.HttpContext.Current.Session["CurrentUser"] is Information_System_MVC.Models.ConnectedWorker))
        {
            if ((System.Web.HttpContext.Current.Session["CurrentUser"] as Information_System_MVC.Models.ConnectedWorker).Power == 2)
            {
                <form action="/Order/Create">
                    <input type="submit" value="Добавить запись" />
                </form>
            }
        }
    }
    <table>
        <tr>
            <td><p>Код записи</p></td>
            <td><p>Количество</p></td>
            <td><p>Стоимость</p></td>
            <td><p>Дата заказа</p></td>
            <td><p>Оплачен?</p></td>
            <td><p>Логин туриста</p></td>
            <td><p>Код товара</p></td>
        </tr>
        @foreach (var item in ViewBag.Orders)
        {
            if ((System.Web.HttpContext.Current.Session["CurrentUser"] is Information_System_MVC.Models.Tourist) &&
                (System.Web.HttpContext.Current.Session["CurrentUser"] as Information_System_MVC.Models.Tourist).Id == item.TouristId)
            {
                <tr>
                    <td>
                        <input id="Id" name="Id" value=" @item.Id" readonly />
                    </td>
                    <td>
                        <input id="Quantity" name="Quantity" value=" @item.Quantity" readonly />
                    </td>
                    <td>
                        <input id="Cosr" name="Cost" value=" @item.Cost" readonly />
                    </td>
                    <td>
                        <input id="DateOrder" name="DateOrder" value=" @item.DateOrder" readonly />
                    </td>
                    <td>
                        @{
                            if (item.IsDone == true)
                            {
                                <input id="IsDone" name="IsDone" value="Да" readonly />
                            }
                            else
                            {
                                <input id="IsDone" name="IsDone" value="Нет" readonly />
                            }
                        }
                    </td>
                    <td>
                        <input id="TouristId" name="TouristId" value=" @item.TouristId" readonly />
                    </td>
                    <td>
                        <input id="ProductId" name="ProductId" value=" @item.ProductId" readonly />
                    </td>
                    <td>
                        <a href="/Order/Delete/@item.Id">
                            Удалить
                        </a>
                    </td>
                    <td>
                        <a href="/Order/Edit/@item.Id">
                            Изменить
                        </a>
                    </td>
                </tr>
            }
            if ((System.Web.HttpContext.Current.Session["CurrentUser"] is Information_System_MVC.Models.ConnectedWorker))
            {
                <tr>
                    <td>
                        <input id="Id" name="Id" value=" @item.Id" readonly />
                    </td>
                    <td>
                        <input id="Quantity" name="Quantity" value=" @item.Quantity" readonly />
                    </td>
                    <td>
                        <input id="Cosr" name="Cost" value=" @item.Cost" readonly />
                    </td>
                    <td>
                        <input id="DateOrder" name="DateOrder" value=" @item.DateOrder" readonly />
                    </td>
                    <td>
                        @{
                            if (item.IsDone == true)
                            {
                                <input id="IsDone" name="IsDone" value="Да" readonly />
                            }
                            else
                            {
                                <input id="IsDone" name="IsDone" value="Нет" readonly />
                            }
                        }
                    </td>
                    <td>
                        <input id="TouristId" name="TouristId" value=" @item.TouristId" readonly />
                    </td>
                    <td>
                        <input id="ProductId" name="ProductId" value=" @item.ProductId" readonly />
                    </td>
                    <td>
                        <a href="/Order/Delete/@item.Id">
                            Удалить
                        </a>
                    </td>
                    <td>
                        <a href="/Order/Edit/@item.Id">
                            Изменить
                        </a>
                    </td>
                </tr>
            }
        }
    </table>
</div>

